.navbar {
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: 1px solid #e2e8f0;
  padding: 16px 32px;
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
