.model-results {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  .charts-card {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--slate-200, #e2e8f0);
    background: var(--generic-white, #fff);
    .left-chart {
      display: flex;
      padding: 22px 24px;
      flex-direction: column;
      flex: 2;
      border-right: 1px solid #e2e8f0;
    }
    .right-chart {
      align-self: stretch;
      flex: 1;
      padding: 24px;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
    }
  }

  .all-model-results-card {
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    border: 1px solid var(--slate-200, #e2e8f0);
    background: var(--generic-white, #fff);
  }
}

@media screen and (max-width: 1080px) {
  .model-results {
    .charts-card {
      .left-chart {
        width: 50%;
      }
      .right-chart {
        width: 50%;
      }
    }
  }
}
@media screen and (max-width: 950px) {
  .model-results {
    .charts-card {
      flex-direction: column;
      flex-wrap: wrap;
      .left-chart {
        border: none;
        width: 93%;
      }
      .right-chart {
        width: 93%;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .model-results {
    .charts-card {
      .left-chart {
        width: 86%;
      }
      .right-chart {
        width: 86%;
      }
    }
  }
}
